# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL='$'

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Database (Neon)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require&channel_binding=require"

# Inngest
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
